@model Web_Nha_Hang.Models.Khachhang

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/AdminArea/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm("Create", "Khachhang", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content" style="padding-top:30px">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6 text-end">
                            Thêm khách hàng
                        </div>
                        <div class="col-6 text-right">
                            <a href="@Url.Action("Index","Khachhang")" class="btn btn-sm btn-success"> <i class="fas fa-long-arrow-alt-left"></i> Back</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.tenkh, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.tenkh, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.tenkh, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.anh, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="anh" accept="image/*" class="form-control" />
                            @Html.ValidationMessageFor(model => model.anh, "", new { @class = "text-danger" })
                            @if (!string.IsNullOrEmpty(Model?.anh))
                            {
                                <img src="~/Uploads/@Path.GetFileName(Model.anh)" alt="Uploaded Image" class="img-thumbnail" width="100" height="100" />
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.sdt, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.sdt, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.sdt, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.diachi, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.diachi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.diachi, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-actions no-color text-center mt-3">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
