@model Web_Nha_Hang.Models.Nguoidung

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/AdminArea/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm("Edit", "Nguoidung_user", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.mand)
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content" style="padding-top:30px">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6 text-end">
                            Sửa người dùng
                        </div>
                        <div class="col-6 text-right">
                            <a href="@Url.Action("Index","Nguoidung_user")" class="btn btn-sm btn-success"> <i class="fas fa-long-arrow-alt-left"></i> Back</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.taikhoan, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.taikhoan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.taikhoan, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.matkhau, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.matkhau, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.matkhau, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.anh, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="anh" id="file" class="form-control" />
                            <img src="@Url.Content("~/Uploads/" + Model.anh)" alt="Current Image" class="img-thumbnail" width="100" height="100" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.maquyen, "maquyen", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("maquyen", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.maquyen, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-actions no-color text-center mt-3">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-save"></i> Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}