@model PagedList.IPagedList<Web_Nha_Hang.Models.Nguoidung>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    /* CSS nằm ở đây hoặc bạn có thể đặt trong file CSS riêng */
    .pagination {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 0; /* Điều chỉnh giá trị này để thay đổi khoảng cách giữa các số trang */
    }

    .pagination a {
        margin: 0 20px; /* Khoảng cách giữa các số trang */
    }
</style>
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content" style="padding-top:30px">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 text-end">
                        Danh mục người dùng
                    </div>
                    <div class="col-6 text-right">
                        <a href="@Url.Action("Create","Nguoidung_user")" class="btn btn-success"><i class="fas fa-plus"></i> Thêm</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @if (Model.Any())
                {
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.First().taikhoan)
                            </th>
                            <th>
                                Hình ảnh
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().email)
                            </th>
                            <th>Chức năng</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.taikhoan)
                                </td>
                                <td>
                                    <img src="@Url.Content("~/Uploads/" + item.anh)" alt="Image" class="img-thumbnail" width="100" height="100" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.mand })" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                    <a href="@Url.Action("Details", new { id = item.mand })" class="btn btn-info"><i class="fas fa-info"></i></a>
                                    <a href="@Url.Action("Delete", new { id = item.mand })" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }

                    </table>
                    <div class="pagination">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                    </div>
                }
                else
                {
                    <p>Không có dữ liệu.</p>
                }
            </div>
        </div>
    </section>
</div>

